<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">あなたの一日の栄養素は…</h1>
			<p class="lead fw-normal text-white-50 mb-0">The nutrients of your day is...</p>
		</div>
	</div>
</header>
<section class="page-section" id="services">
	<div class="container">
		<div class="row text-center">
			<% total_foods = @foods_breakfast + @foods_selected %>
			<div class="col-md-4">
				<h4 class="my-3"><%= view_calorie(total_foods.pluck(:calorie).sum.round(2)) %></h4>
				<p class="text-muted">エネルギーについて説明を書く！</p>
			</div>
			<div class="col-md-4">
				<h4 class="my-3"><%= view_protein(total_foods.pluck(:protein).sum.round(2)) %></h4>
				<p class="text-muted">たんぱく質について説明を書く！</p>
			</div>
			<div class="col-md-4">
				<h4 class="my-3"><%= view_lipid(total_foods.pluck(:lipid).sum.round(2)) %></h4>
				<p class="text-muted">脂質について説明を書く！</p>
			</div>
			<div class="col-md-4">
				<h4 class="my-3"><%= view_carbohydrate(total_foods.pluck(:carbohydrate).sum.round(2)) %></h4>
				<p class="text-muted">炭水化物について説明を書く！</p>
			</div>
			<div class="col-md-4">
				<h4 class="my-3"><%= view_salt_equivalent(total_foods.pluck(:salt_equivalent).sum.round(2)) %></h4>
				<p class="text-muted">食塩相当量について説明を書く！</p>
			</div>
		</div>
	</div>
</section>
<section class="py-5">
	<div class="container px-4 px-lg-5">
		<h3 class="fw-bolder mb-5">内訳</h3>
	</div>
	<div class="container px-4 px-lg-5 mt-5">
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
			<% @foods_breakfast.each do |food| %>
				<div class="col mb-5">
					<div class="card h-100">
						<%= image_tag "#{food.image_name}", class: 'card-img-top', alt: "..." %>
						<div class="card-body p-4">
							<div class="text-center">
								<h5 class="fw-bolder"><%= food.name %></h5>
							</div>
						</div>
						<div class="card-footer border-top-0 bg-transparent">
							<ul>
								<li><%= view_calorie(food.calorie) %></li>
								<li><%= view_protein(food.protein) %></li>
								<li><%= view_lipid(food.lipid) %></li>
								<li><%= view_carbohydrate(food.carbohydrate) %></li>
								<li><%= view_salt_equivalent(food.salt_equivalent) %></li>
							</ul>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="container px-4 px-lg-5 mt-5">
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
			<% @foods_selected.each do |food| %>
				<div class="col mb-5">
					<div class="card h-100">
						<%= image_tag "#{food.image_name}", class: 'card-img-top', alt: "..." %>
						<div class="card-body p-4">
							<div class="text-center">
							<h5 class="fw-bolder"><%= food.name %></h5>
							</div>
							</div>
							<div class="card-footer border-top-0 bg-transparent">
							<ul>
								<li><%= view_calorie(food.calorie) %></li>
								<li><%= view_protein(food.protein) %></li>
								<li><%= view_lipid(food.lipid) %></li>
								<li><%= view_carbohydrate(food.carbohydrate) %></li>
								<li><%= view_salt_equivalent(food.salt_equivalent) %></li>
							</ul>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="container px-lg-5">
		<div class="p-4 p-lg-5 bg-light rounded-3 text-center">
			<%= link_to 'メニューを選択し直す', :root, class: "btn btn-primary btn-lg" %>
		</div>
	</div>
</section>